{namespace lan=UUA\Lan\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages renderMode="div"/>

	<div class="row">
		<div class="col-lg-12">
			<f:if condition="{games}">
				<f:then>
					<f:form action="updateVotes" name="gameVotes">
						<table class="table table-striped table-hover table-condensed" cellspacing="0" cellpadding="0">
							<thead>
							<tr>
								<th class="col-xs-1" id="gametitle">Titel</th>
								<th data-breakpoints="xs sm" class="col-xs-1" id="suggested">Von</th>
								<f:if condition="{0:settings.state} == {0:'vote'}">
									<th class="col-xs-1" id="owner"><nobr>Besitze es</nobr></th>
									<th class="col-xs-1" id="wannaplay"><nobr>Möchte ich spielen</nobr></th>
								</f:if>
								<th data-breakpoints="xs" class="col-xs-1" id="suggested">Link</th>
								<th data-breakpoints="xs sm" class="col-xs-3" id="suggested">Beschreibung</th>
							</tr>
							</thead>
							<tbody>
							<f:for each="{games}" as="game" iteration="i">
								<tr>
									<td><strong>{game.description}</strong></td>
									<td>{game.firstCreator.username}</td>
									<f:if condition="{0:settings.state} == {0:'vote'}">
										<td><f:form.checkbox id="check{i.index}" name="owner[]" value="{game.uid}" checked="{lan:inArray(haystack:game.owner, needle:loggedInUser)}" /> (<f:count subject="{game.owner}"/>)</td>
										<td><f:form.checkbox id="check{i.index}" name="voter[]" value="{game.uid}" checked="{lan:inArray(haystack:game.voter, needle:loggedInUser)}" /> (<f:count subject="{game.voter}"/>)</td>
									</f:if>
									<td>
										<f:if condition="{game.link}">
											<f:then>
												<a target="_blank" href="{game.linkWithProtocol}"><span class="glyphicon glyphicon-globe"></span> Link</a>
											</f:then>
											<f:else>
												<span class="text-muted">- kein Link hinterlegt -</span>
											</f:else>
										</f:if>
									</td>
									<td>
										<f:if condition="{game.additionalDescription}">
											<f:then>
												<f:format.nl2br value="{game.additionalDescription}"/>
											</f:then>
											<f:else>
												<span class="text-muted">- keine Beschreibung -</span>
											</f:else>
										</f:if>
									</td>
								</tr>
							</f:for>
							</tbody>
						</table>
						<f:if condition="{0:settings.state} == {0:'vote'}">
							<f:form.submit class="btn btn-primary" value="Speichern" />
						</f:if>
					</f:form>
				</f:then>
				<f:else>
					<div class="alert alert-info">
						Bisher wurden noch keine Spiele vorgeschlagen. Du könntest der Erste sein!
					</div>
				</f:else>
			</f:if>
		</div>
	</div>

	<f:if condition="{0:settings.state} == {0:'suggest'}">
		<div class="row">
			<div class="col-lg-10">
				<f:form class="form-horizontal" action="create" name="newGame" object="{newGame}">
					<div class="form-group">
						<label class="col-sm-4 control-label" for="new-game">Name des Spiels:*</label>
						<div class="col-sm-8">
							<f:form.textfield class="form-control" id="new-game" property="description" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="new-game">Link (Trailer oder Website):</label>
						<div class="col-sm-8">
							<f:form.textfield class="form-control" id="new-game" property="link" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="new-game">Kurze Beschreibung:</label>
						<div class="col-sm-8">
							<f:form.textarea rows="10" cols="100" class="form-control" id="new-game" property="additionalDescription" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-8">
							<f:form.submit class="btn btn-primary" value="Vorschlag hinzufügen" />
						</div>
					</div>
				</f:form>
			</div>
		</div>
	</f:if>
</f:section>