{namespace lan=UUA\Lan\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">	
	<f:flashMessages renderMode="div"/>
	
	<f:if condition="{topics}">
		<f:then>
		
			<p>
				Legende: <br />
				<span class="glyphicon glyphicon-tag text-info"></span> = Neuer Beitrag
			</p>
		
			<div class="topics">
				<f:for each="{topics}" as="topic" iteration="i">
					<f:link.action class="topic" action="prepareToEnterTopic" controller="Topic" arguments="{topic:topic}">
						<div class="topic panel panel-default">
							<div class="topicHead panel-heading">
								<span class="topicTitle">
									<strong>{topic.title}</strong><span class="postsCounter"> (Beiträge: {topic.postsCount})</span>
								</span>
								<f:if condition="{lan:inArray(haystack:topic.emailPumpgunBlacklist, needle:loggedInUser)}">
									<f:if condition="{topic.postsCount} > 0">
										<span class="glyphicon glyphicon-tag text-info"></span>
									</f:if>
								</f:if>
								<f:if condition="{topic.lastPost}">
									<div class="lastPost">
										Letzter Beitrag von {topic.lastPost.creator.username} am {f:format.date(format:'d.m.Y H:i', date:topic.lastPost.creationDate)}
									</div>
								</f:if>
							</div>
							<div class="topicBody panel-body">
								{topic.description}
							</div>
						</div>
					</f:link.action>
				</f:for>
			</div>
		</f:then>
		<f:else>
			Keine Themen verfügbar 
		</f:else>
	</f:if>

</f:section>