<f:layout name="Default" />

<f:section name="main">
	<h2>Thema: {topic.title}</h2>

	<div class="baguette">
		<f:link.action class="btn btn-default" action="list" controller="Topic" arguments="{topic:topic}">
			Zurück zur Themenliste
		</f:link.action>
	</div><br />

	<f:flashMessages renderMode="div"/>

	<f:if condition="{posts}">
		<f:then>
			<div class="posts">
				<f:for each="{posts}" as="post" iteration="i">
					<div class="post panel panel-default">
						<div class="postHead panel-heading">
							<span>Beitrag erstellt von <strong>{post.creator.username}</strong> am {f:format.date(format:'d.m.Y H:i', date:post.creationDate)}</span>
						</div>
						<div class="postBody panel-body">
							<span><f:format.nl2br>{post.text}</f:format.nl2br></span>
						</div>
					</div>
				</f:for>
			</div>
		</f:then>
		<f:else>
			<div class="alert alert-info">
				Hier gibt es noch keine Beiträge. Du kannst der Erste sein!
			</div>
		</f:else>
	</f:if>

	<f:form action="create" controller="Post" object="{newPost}" arguments="{topic:topic}" name="newPost">
		<div class="form-group">
			<label for="newPostText">Neuer Beitrag</label>
			<f:form.textarea class="form-control" id="newPostText" property="text" />
		</div>
		<f:form.submit class="btn btn-default" value="Beitrag abgeben" />
	</f:form>

</f:section>