{namespace lan=UUA\Lan\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
	<f:if condition="{appointments}">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<p class="lead">Eingeladene Teilnehmer: <f:count subject="{participants}" /></p>
			</div>
			<div class="col-xs-12 col-sm-6">
				<p class="lead">Teilnehmer mit Abstimmung: <f:count subject="{votedParticipants}" /></p>
			</div>
		</div>

		<f:form action="takeVote" controller="Appointment">
			<table class="table table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th class="col-xs-5">Termin (Zusagen)</th>
						<th class="col-xs-4">Teilnahmequote</th>
						<th class="col-xs-3">Teilnehmer</th>
					</tr>
				</thead>
				<tbody>
					<f:for each="{appointments}" as="appointment" iteration="i">
						<tr>
							<td>
								<f:form.checkbox id="check{i.index}" name="votes[]" value="{appointment.uid}" checked="{lan:inArray(haystack:appointment.participant, needle:loggedInUser)}" />
								<label for="check{i.index}"><f:format.date format="d.m.Y">{appointment.appointmentDate}</f:format.date> ({appointment.countOfVoters})</label>
							</td>
							<td>
								<div class="progress">
									<div class="progress-bar progress-bar-striped active {f:if(condition:'{appointment.overallPercentage} >= 80', then:'progress-bar-success')}"
										 role="progressbar" aria-valuenow="{appointment.overallPercentage}" aria-valuemin="0" aria-valuemax="100"
										 style="width: {appointment.overallPercentage}%">
										<strong><f:format.number decimals="1" decimalSeparator="," thousandsSeparator=".">{appointment.overallPercentage}</f:format.number>%</strong>
									</div>
								</div>
							</td>
							<td>
								{appointment.allParticipantsList}
							</td>
						</tr>
					</f:for>
				</tbody>
			</table>
			<f:form.submit class="btn btn-primary" value="Speichern" />
		</f:form>
	</f:if>
</f:section>