<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages renderMode="div"/>

	<div class="profile">
		<f:form class="form-horizontal" action="update">
			<div class="form-group">
				<label class="control-label col-sm-2" for="oldpassword">Altes Passwort</label>
				<div class="col-sm-10">
					<f:form.password class="form-control" name="oldpassword" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="newpassword">Neues Passwort</label>
				<div class="col-sm-10">
					<f:form.password class="form-control" name="newpassword" />
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="newpasswordrepeat">Neues Passwort wiederholen</label>
				<div class="col-sm-10">
					<f:form.password class="form-control" name="newpasswordrepeat" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<f:form.submit class="btn btn-primary" value="Speichern" />
				</div>
			</div>
		</f:form>
	</div>
</f:section>