.baguette {
	margin-bottom: 10px;
}

#introtext {
	margin-bottom: 10px;
}

.topics {
	margin-top: 20px;
}

.topic {
	margin-top: 10px;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid grey;
	display: block;
	color: #515151 !important;
}

.newPostsHint {
	color: crimson;
}

.topic:hover{
	text-decoration: none;
}

.posts {
	margin-bottom: 15px;
}

.newPost {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
}

.post {
	border: 2px solid grey;
	margin-top: 20px;
	margin-bottom: 20px;
}

.postHead {
	font-size: 10px;
	background-color: #E8E8E8;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.postBody {
	background-color: #FEFEFE;
	padding: 10px;
}

.topic.postsCounter {
	text-align: right;
}