<label for="text">
	<f:translate key="tx_lan_domain_model_post.text" />
</label><br />
	<f:form.textfield property="text" /><br />
<label for="creationDate">
	<f:translate key="tx_lan_domain_model_post.creation_date" />
</label><br />
	<f:form.textfield property="creationDate"  value="{post.creationDate->f:format.date()}" /><br />